{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">
 <div class="col-4 d-flex justify-content-center align-items-center">
    <img src="{% static 'images/im.jpg' %}" alt="image" class="about_image">
 </div>

 <div class="col-7 text-left text-light">
     <h2> Hello !</h2>
     <p class="fs-5">
      I bring a diverse background encompassing roles such as a Full Stack
      Python trainer, curriculum associate, engineering teacher, and
      headmistress. Alongside, I possess experience in the networking sector.
      </p>
      <p class="fs-5">
      As a Full stack python trainer, I am dedicated to helping others learn
      Python and DRF while continuously improving my own programming skills. I
      have a strong foundation in Python and a deep understanding of its
      concepts, syntax, and best practices.
      </p>

 </div>
</div>


<div class="row my-2">
    <h2 class="text-center" style="color:#4fffb0"> My Tech Stack</h2>

    <div class="d-flex justify-content-around align-items-center">
      <img
          src="{% static 'images/html.png' %}"
          width="70"
          height="70"
          alt="HTML Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/css.png' %}"
          width="70"
          height="70"
          alt="CSS Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/js.png' %}"
          width="70"
          height="70"
          alt="JavaScript Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/python.jpg' %}"
          width="60"
          height="60"
          alt="Python Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/react.png' %}"
          width="60"
          height="60"
          alt="React Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/download.png' %}"
          width="70"
          height="70"
          alt="Django Logo"
          class="img-fluid"
      />
  </div>

</div>

{% endblock content1 %}
