{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row">
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> B.Tech(CS), 77.2 % , 2020</h1>
        <p class="text-white">SVNIET Barabanki, AKTU University Lucknowttar Pradesh</p>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> 12th , 70 % , 2016</h1>
        <p class="text-white"> Kalu Ram Inter College Sheetalganj, Pratapgarh</p>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> 10th, 70.83 % , 2014 </h1>
        <p class="text-white">Yasiniya Intermediate College ganideeh rakhaha, Pratapgarh</p>
    </div>

    
    

</div>


{% endblock content1 %}
