{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center ">
    <div class="circular-image-container">
      <img class="circular-image" src=" {% static 'images/suraj.jpeg' %}" alt="Image">
    </div>
  </div>

  <div class="col-12 text-center mt-3">
    <h4 class="title"> Hello, </h4>
      <div class="name">
        <h3> My Name is Suraj Kumar </h3>
        <h3> I am Software Engineer</h3>
      </div>
  </div>

  <div class="col-12 text-center mt-3">
    <div class="col-12 d-flex justify-content-center align-items-center ">
        <a href="https://linkedin.com/in/suraj-kumar-016b95216" target="_blank" class="ms-3">
          <img src="{% static 'images/linkendin.png' %}" alt="linkedin" width="50" height="50" class="social_links">
        </a>

        <a href="https://github.com/surajkumargithub" target="_blank" class="ms-3">
          <img src="{% static 'images/github.png' %}" alt="youtube" width="50" height="50" class="social_links">
        </a>

        <a href="/" target="_blank" class="ms-3">
          <img src="{% static 'images/insta.jpg' %}" alt="instagram" width="50" height="50" class="social_links">
        </a>

        <a href="/" target="_blank" class="ms-3">
          <img src="{% static 'images/facebbok.png' %}" alt="instagram" width="50" height="50" class="social_links">
        </a>
        <a href="/" target="_blank" class="ms-3">
          <img src="{% static 'images/whatssap.jpeg' %}" alt="instagram" width="50" height="50" class="social_links">
        </a>
      </div>
  </div>
</div>


{% endblock content1 %}
